@charset "UTF-8";

h2
{
	font-family: 'Oswald', sans-serif;
	color: white;
	letter-spacing: 8px;
	font-weight: 300;
	font-size: 40px;
	padding: 20px;
	background-color:  rgba(32,32,32, 0.6);
	text-align: center;	

}

@media only screen and (min-width: 640px)
{
	h2
{
	font-family: 'Oswald', sans-serif;
	color: white;
	letter-spacing: 8px;
	font-weight: 300;
	font-size: 70px;
	padding: 20px;
	width:100%;
	background-color:  rgba(32,32,32, 0.8);
	text-align: center;
}
}


p {
	background-color:  rgba(32,32,32, 0.8);
	padding: 10px;
	padding-top: 20px;

}
p, a
{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: white;
	text-align: center;
}
h3{
		font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: white;
		background-color:  rgba(36, 137, 238, 0.8);
}


#logo
{
	position: absolute;
	z-index: 10;
	margin:0 auto;


}


.hidden
{
	display: none;
}

.fullWidth 
{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

@media screen and (min-width: 640px)
{
.center {
    margin: 0;
}
}
.center {
    margin: 0;
    margin-top: 100px;

   }
.center2 {
    margin: 0;
    position: absolute;
    top: 400px;
    right:20px;
    transform: translate(-50%, -50%);
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#overbg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: 11;
}
#overbg div {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  background-color: #136d93;
  opacity: 0.8;
}


@media (min-width: 640px) 
 {
	#nav ul
{
	margin-top: 40px;
	text-align: center;
	margin-right:30px;
}

#nav ul li
{
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}
}
@media (min-width: 640px) 
 {
 	#overbg{
 		display: none;
 	}
 	}
@media (min-width: 640px) 
 {
#hamMenu
{
	display: none;
	}
}
@media (max-width: 639px)
{
#hamMenu
{
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 20;
}
}
@media (max-width: 639px)
{
#nav ul
{
	margin: 0;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
	text-align: center;
	z-index: 22;
}

#nav ul li
{
	display:block;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10%;
	margin-bottom: 10%;
}
#nav ul li a
{
	font-size: 30px;
}
.hide4
{
	display:none;
}
}


#homePage
{
	text-align: center;

	background-color: blue;
}

#container2
{
	display: none;
}

.textCenter
{
	text-align: center;
}

#fullLink
{
	border-color: white;
	border-width: 3px;
	border-style: solid;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#blackwrap
{
	background-color: black;
}


#whitefont
{
	color: white;
	font-family: 'Oswald', sans-serif;
}

.subhead
{
	color: rgba(36, 137, 238, 1);

}

.head{
	background-color: rgba(11, 63, 116, 0.8);
	text-align: center;
}

#box p
{
	margin-bottom: 150px;
}

.middle
{
position: relative;
left:25%;
 margin:0 auto;
	
}








* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: white;

}

.site-footer ul {
 display: inline; 
 float: right;
 padding-top: 10px;
}
.site-footer ul li {
	display: inline;
	margin: 10px;
	padding-top: 10px;
}